<main class="container">
  <%= link_to sanitize("&larr; Back to day"), day_path(@day) %>

  <div class="header">
    <h1>Edit day</h1>
  </div>
  <%= turbo_frame_tag @day do%>
    <%= render "form", day: @day %>
  <% end %>
</main>