
<%= turbo_stream_from "days" %>
<main class="container">
  <div class="header">
    <h1>Days</h1>
 
<hr>
<hr>
    <%= render "form", day: @day %>

<hr>
<hr>

  <%= turbo_frame_tag 'days' do %>
    <%= render @days %>
  <% end %>
</main>