<main class="container">
<%= turbo_frame_tag 'first_turbo' do %>
  <div class="header">
    <h1>Days</h1>
    <%= link_to "New day",
                new_day_path,
                class: "btn btn--primary" %>
  </div>
<% end %>

  <%= render @days %>
</main>