<main class="container">
  <div class="header">
    <h1>Days</h1>
    <%= link_to "New day",
                new_day_path,
                class: "btn btn--primary" %>
  </div>

  <%= render @days %>
</main>